.create-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid;
  font-size: 16px;
  font-weight: 400;
  border-image: linear-gradient(to right, #89F7FE, #66A6FF) 1;
  background: linear-gradient(to right, transparent, transparent);
  color: white;
  height: 40px;
  width: 240px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  position: relative;
  overflow: hidden;
  padding: 0 15px;
}

.create-button:hover {
  background: linear-gradient(to right, #89F7FE, #66A6FF);
}
