.navigate
  position fixed
  top 50%
  transform translateY(-50%)
  z-index 100
  padding 100px
  @media (max-width: 1200px)
    &.prev
      left calc(200px)

.prev
  left calc(200px + 10%)
.next
  right 10%
