.navigate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  padding: 100px;
  background: transparent;
  border: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
}

.navigate:hover {
  background: white;
  box-shadow: 0 0 10px -2px black;
}

.navigate:focus {
  outline: none;
}

.back {
  left: 0;
}
.next {
  right: 0;
}

.block {
  padding: 25px 35px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 5px -2px rgba(0,0,0,0.1);
  margin-bottom: 25px;
}

.block:last-child {
  margin-bottom: 0;
}

.connect-social-block {
  margin-bottom: 25px;
}

.connect-social-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(1, 150px);
  grid-gap: 15px;
  width: calc(150px * 3 + 15px * 2);
  margin: 15px auto;
}

h2 {
  text-align: center;
  font-size: 18px;
}

.connect-social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 5rem;
}

.connect-social.gh {
  background-color: var(--github-color)
}

.connect-social.gh {
  color: white;
}

.connect-social.md {
  background-color: var(--medium-color)
}

.connect-social.md {
  color: white;
}

.ant-tag {
  margin: 5px !important;
}

@media screen and (max-width: 580px) {
  .block {
    padding: 25px 25px;
    border-radius: 0px;
  }

  .connect-social {
    font-size: 4rem;
  }

  .connect-social-container {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(1, 100px);
    grid-gap: 15px;
    width: calc(100px * 2 + 15px * 1);
  }
}