.preview-account {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.preview-account-title {
  font-size: 16px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.preview-account-photo {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 25px;
}

.preview-account-photo img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.preview-account-name {
  text-align: left;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.preview-account-desc {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
