.github-element {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
}

.github-element-circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.github-element-total {
  box-shadow: 0 0 20px 0 #2699FB
}

.github-element-community {
  box-shadow: 0 0 20px 0 #5A3271
}

.github-element-self {
  box-shadow: 0 0 20px 0 #F8E54F
}
