.socials-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin: 25px 0;
}

.socials-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.socials-heading {
  color: white;
  display: block;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #F8241C, #29B6EB) 1;
}

.socials-card {
  width: 330px;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
}

.socials-card-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-size: 50px;
  color: white;
  background: #231F20;
}

.socials-card-content {
  background: white;
  color: #2699FB;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 25px;
  height: 50%;
}

.socials-card-content .anticon {
  font-size: 16px;
  margin-right: 5px;
}

.socials-card-name {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

.socials-card-desc {
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: var(--github-color);
  margin-bottom: 20px;
}

.socials-card-header {
  display: flex;
  flex-flow: column nowrap;
}

.socials-card-footer {
  display: flex;
  flex-flow: column nowrap;
}

a.socials-card-link {
  color: #2699FB;
  font-size: 14px;
  font-weight: 300;
}

.socials-card-link,
.socials-card-followers,
.socials-card-stars {
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.socials-card-link {
  margin-bottom: 12px;
}

.socials-card-followers {
  margin-right: 6px;
}

.socials-card-stats {
  display: flex;
  flex-direction: row;
}

.socials-card-bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.socials-card-open {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #2699FB;
}

