.summary {
  background: white;
  padding: 25px;
  width: 80%;
  margin: 25px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.summary-title-container {
  margin-bottom: 25px;
}

.summary-title {
  text-align: center;
  color: black !important;
  padding: 6px 0;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #F8241C, #29B6EB) 1;
}

.summary-title .anticon-heart {
  color: #FB266E;
}

.summary-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px;
}

.summary-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.summary-item-data {
  height: 96px;
  width: 96px;
  border-radius: 100%;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 12px;
  position: relative;
}
.summary-item-data:before {
  content: '';
  position: absolute;
  right: -12px;
  top: 12px;
  background: white;
  color: white;
  width: auto;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.25);
}

.summary-item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.summary-item-fork {
  box-shadow: 0 0 20px 0 #5A3271;
}

.summary-item-fork:before {
  content: 'fork';
  background: #5A3271;
}

.summary-item-self {
  box-shadow: 0 0 20px 0 #F8E54F;
}
.summary-item-self:before {
  content: 'self';
  background: #F8E54F;
}

.summary-item-total {
  box-shadow: 0 0 20px 0 #2699FB;
}
.summary-item-total:before {
  content: 'total';
  background: #2699FB;
}
