@import '~bootstrap-4-grid/css/grid.min.css';
@import './components/content/TipPanel/TipPanel.css';
@import './components/header/Header.css';
@import './components/content/Profile/Profile.css';
@import './components/content/ResumeView/ResumeView.css';
@import './components/content/CreateResume/CreateResume.css';
@import './components/login/login.css';
@import './components/content/ResumeView/components/GithubInfo.css';
@import './components/content/CreateResume/Preview.css';
@import './components/content/CreateResume/Button.css';
@import './components/content/ResumeView/components/socialCard.css';
@import './components/content/ResumeView/components/summaryInfo.css';

#root {
  min-height: 100vh;
  overflow: hidden;
}

.main-layout {
  min-height: 100vh;
  min-width: 100vw;
}

.flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  display: block;
  padding: 0 25px;
  border: 5px solid;
  border-image: linear-gradient(to right, #89F7FE, #66A6FF) 1;
  background: transparent;
  color: white;
  transition: all .2s ease;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 48px;
}

.main-button:hover, .main-button:visited, .main-button:focus {
  background: transparent;
  color: white;
  text-decoration: none;
}

.main-gradient {
  background: linear-gradient(to right, #232526, #414345);
}

.welcome-page {
  height: 100%;
  width: 100%;
}
