.resume {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.user-image-container {
  display: block;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border: 2px solid;
  border-image: linear-gradient(to right, #F8241C, #2699FB) 1;
  border-radius: 50%;
  margin-right: 25px;
}

.user-image {
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
}

.user-profession {
  display: block;
  border: 2px solid;
  border-image: linear-gradient(to right, #F8241C, #2699FB) 1;
  color: white;
  position: absolute;
  padding: 5px 20px;
  right: 0;
  margin: 0;
}

.user-name {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
}

.user-age, .user-experience {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
}

/* Timeline */

.timeline-container {
  display: block;
  margin-left: 120px;
}

.timeline {
  position: relative;
  display: block;
  list-style: none;
  border-left: 2px solid #777;
  padding-left: 28px;
  padding-top: 1px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.timeline_heading {
  position: relative;
  margin-top: 60px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.timeline_heading::before {
  position: absolute;
  left: -43px;
  top: -0.3em;
  content: '';
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: white;
}

.timeline_heading img {
  position: absolute;
  left: -38px;
}

.timeline_item {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 20px;
}

.timeline_item::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 3px;
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
