.profile {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.profile-card {
  display: inline-flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
  background: #231F20;
  color: white;
  padding: 25px;
  width: 100%;
  height: 240px;
  opacity: 0;
  transform: translateY(10px);
  transition: all .5s ease-in-out;
}

.profile-card-visible {
  opacity: 1;
  transform: translateY(0);
}

.profile-card-header {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card-title {
  margin: 0 16px 0 0;
  line-height: 1;
  font-size: 22px;
  font-weight: 300;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 7px 0;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #F8241C, #2699FB) 1;
}

.profile-card-link, .profile-card-link:hover, .profile-card-link:visited, .profile-card-link:focus {
  color: white;
  font-size: 22px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}

.profile-card-content {
  color: white;
  font-size: 19px;
  font-weight: 300;
}

.profile-card-socials {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  line-height: 1;
  margin-top: 4px;
}

.profile-card-socials a {
  margin-left: 16px;
  color: white;
  font-size: 16px;
  line-height: 1;
}

.profile-card-socials i {
  font-size: 20px;
}

@media screen and (max-width: 580px) {
  .profile-card-title, .profile-card-link {
    font-size: 16px;
  }

  .profile-card-content {
    font-size: 14px;
  }
}
