.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #00467F, #A5CC82);
}

.login-container.loading {
  filter: blur(5px)
}

.input-custom {
  background: transparent;
  border: 0;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.5;
  color: white;
}

.input-custom:focus {
  outline: none;
}

input.input-custom {
  border-bottom: 2px solid white;
  width: 100%;
}

button.input-custom {
  border: 2px solid white;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
}

.login-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.login-item-label {
  color: white;
}

.login-form-last {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login-form-tip {
  color: white;
  font-size: 14px;
  text-align: right;
}

.login-form-tip a {
  color: white;
  border-bottom: 1px solid white
}

.login-form-error {
  position: absolute;
  top: 100%;
  font-size: 14px;
  color: orangered;
}

.login-form-loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-loading-wrapper .ant-spin-text {
  color: white;
}
